// you can change colors here
$vp-font: 'JetBrains Mono, Noto Sans SC, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", STHeiti, "Microsoft YaHei", SimSun, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"';
$vp-font-heading: $vp-font;
$vp-font-mono: 'JetBrains Mono, Noto Sans SC, Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace';
